:maxadmin: /usr/local/mariadb-maxscale/bin/maxadmin
:cluster: gcomm://192.168.4.10,192.168.4.12
:maxpwd: mariadb
:dbusername: dbuser
:dbpassword: dbpass
:database: some_schema
:sql: /tmp/schema.sql
:verbose: false
:notfirst: server3
:cmd_maintenance_on: echo "server [SERVERNAME] entering maintenance mode"
:cmd_maintenance_off: echo "server [SERVERNAME] leaving maintenance mode"

